# /typo3cms/extensions/core/8-dev/.htaccess
# mb, 2017-06-02

RewriteEngine on

# this RedirectMatch works:
RedirectMatch 301 ^/?typo3cms/extensions/core/8-dev/(.*) https://docs.typo3.org/typo3cms/extensions/core/8.7/$1

# this RewriteRule would work as well and does the same. Note the difference!
# RewriteRule (.*) https://docs.typo3.org/typo3cms/extensions/core/8.7/$1  [R=301]
